[2017-12-18 15:36] ThierryA opened #1 "Setup dev-lib"
### Setup the dev-lib

- WPCS
- ESLint
- Travis
- PHPUnit

[2017-12-18 16:47] ThierryA opened #2 "Add Contributors Guideline"

[2017-12-19 22:05] ThierryA opened #5 "Determine text domain (theme dir)"
Insure that the `amp` text domain does not conflict with the plugin text domain and make necessary adjustment if need be.

[2017-12-20 15:20] #1 closed

[2017-12-21 07:49] #2 closed

[2018-01-04 15:06] MackenzieHartung opened #7 "Prevent WordPress from printing scripts/styles in the header and footer"
### Acceptance Criteria:

AC1: Need to ensure that we can run the core hooks, and prevent the scripts from being enqueued.

#### Tasks

- [ ] Unhook printing of scripts and styles.

[2018-01-04 15:08] MackenzieHartung opened #8 "Create a WP-CLI Script to Output Comments to a test page"
### Acceptance Criteria

AC1: [See example](https://github.com/Automattic/amp-wp/blob/develop/bin/create-embed-test-post.php)

[2018-01-04 15:10] MackenzieHartung opened #9 "Support top level navigation menu"
### Acceptance Criteria

AC1: Create a wp-cli script to output the necessary levels of menus on a test page ([example](https://github.com/Automattic/amp-wp/blob/develop/bin/create-embed-test-post.php)).
AC2: Create an issue(s) to support for top level navigation menu after discovery work is complete.

[2018-01-04 15:12] MackenzieHartung opened #10 "Ensure canonical theme works without AMP plugin - the theme will not pass AMP validation, but will render properly to allow inclusion in WordPress.org"
### Acceptance Criteria

AC1: All templates in the theme need to be AMP enabled/supported.
AC2: When you do not have the plugin installed, the theme should still be rendered, even if it cannot be validated.

[2018-01-04 15:13] MackenzieHartung opened #11 "Prompt user for plugin installation if not found"
### Acceptance Criteria

AC1: If the plugin is not found, we will prompt users to install the plugin (possibly use [this library](http://tgmpluginactivation.com/screenshots/))
AC2: An alert will display if the user does not have the plugin installed, which will contain content explaining they should download the plugin, and a call-to-action (CTA) to download.
AC3: Selecting the CTA will take the u

[2018-01-04 18:39] MackenzieHartung opened #12 "Discovery to ensure all relevant WordPress actions/filters are AMP compatible"
### Acceptance Criteria

AC1: Conduct a Discovery to ensure all relevant WordPress actions/filters are AMP compatible
AC2: Create an issue/issues as an outcome of the Discovery.

[2018-01-04 18:40] MackenzieHartung opened #13 "Discovery to Display Native WordPress as Expected in AMP"
### Acceptance Criteria

AC1: Once the script creates the list of all comments, we will determine the level of AMP support for them
AC2: Create a story to add/enhance commenting output support.

[2018-01-05 01:59] kienstra commented on #9
**Traditional Menu Markup Supported**
*Plugin Also Supports `<amp-sidebar>`*

After adding a traditional WordPress menu on a test AMP page, all three levels of the menu rendered as expected. The sanitizer didn't strip any part of it:

<img width="1031" alt="amp-sanitizer-menu-markup" src="https://user-images.githubusercontent.com/4063887/34592273-6fef653c-f188-11e7-87e4-54dffdcd280e.png">

But the

[2018-01-09 00:24] westonruter commented on #9
@kienstra With your discovery here, I don't think there's really anything special that needs to be done. The plugin doesn't have to do anything special to support menus, and all the theme needs to do is add an `<amp-sidebar>` to wrap the `wp_nav_menu()` call.

[2018-01-09 00:27] westonruter commented on #5
The theme wouldn't have the `amp` slug, right?

[2018-01-09 02:25] kienstra commented on #8
**Comments Not Supported**

The AMP version of the page `about/page-with-comments/`, using the the [Theme Unit Test data](https://codex.wordpress.org/Theme_Unit_Test#Comment_Test), doesn't show any comments:

<img width="1275" alt="no-comments-amp" src="https://user-images.githubusercontent.com/4063887/34702111-c4213dde-f4ca-11e7-85b4-336668effc97.png">

The non-AMP version of that page has 3 comm

[2018-01-09 02:33] kienstra commented on #9
**Agreed, No Action Needed**

Hi @westonruter,
Good point, there's no action needed here. The theme will just need to implement menus, like you mentioned.

[2018-01-09 04:00] westonruter commented on #8
@kienstra I think you've identified a bug in the `page` template. Notice that [`page.php`](https://github.com/Automattic/amp-wp/blob/d5362a78ca7daaf6d78a193818a45569d26be8e1/templates/page.php#L28) is missing the `amp-wp-article-footer` element: https://github.com/Automattic/amp-wp/blob/d5362a78ca7daaf6d78a193818a45569d26be8e1/templates/single.php#L31-L33

[2018-01-09 14:11] ThierryA opened #14 "Determine Design Pattern"
I would suggest to agree on a Design Pattern (ex. MVC, Simple Factory ...) which should be followed throughout the code base.

[2018-01-09 15:56] ThierryA commented on #5
Correct @westonruter, I double checked and the theme can't have the `amp` slug as it would conflict with the plugin. Do you have a specific slug in mind?

[2018-01-09 18:30] westonruter commented on #5
I was thinking `amp-start` (AMP Start) would be a natural name for the theme.

[2018-01-09 18:31] westonruter commented on #14
Since this is a theme, would this be as relevant? I should think the theme would have minimal logic. I think it should look a lot like any PHP logic that is found in _s or any of the core themes. Namely: prefixed global functions.

[2018-01-09 19:04] ThierryA commented on #5
Sounds great to me!

[2018-01-09 20:39] #12 closed

[2018-01-09 22:04] westonruter commented on #12
Moved to https://github.com/Automattic/amp-wp/issues/850

[2018-01-10 14:55] ThierryA commented on #5
@westonruter it sounds like we are leaning towards "AMP Canonical". Are we in agreement with that in which case I will:
- rename this repo
- change dir instances to `amp-canonical`
- change text domain instances to `amp-canonical`

[2018-01-10 15:28] ThierryA commented on #14
There will still be like theme support, potentially reusable template tags, potentially customizer settings.

If we decide to go for simple `hook -> callback`, we can agree to adopt an **FP pattern** like Underscores does (one of my favorite when done right) rather than an **OO Pattern**. Underscores doesn't have tests though and anything which contain logic should have tests for it.

That trigger

[2018-01-10 17:19] westonruter commented on #5
@ThierryA yeah. Let's do it. We can always change it later.

[2018-01-10 17:28] westonruter commented on #14
I don't think we should use namespaces for this, necessarily. The goal here is to provide an example theme that will get users up to speed with building an AMP-supporting theme as seamlessly as possible. Using namespaces and OOP and anything else that isn't found in _s could be a barrier to that. So yeah, just prefixed global functions is the normal way to develop a theme that developers are famil

[2018-01-10 17:58] ThierryA commented on #14
Roger that.

[2018-01-10 18:07] ThierryA commented on #14
[Interesting progress](https://make.wordpress.org/core/2018/01/09/servehappy-roadmap/) on the Servehappy project which is related to this discussion.

[2018-01-11 09:33] #14 closed

[2018-01-11 09:40] ThierryA commented on #5
Looks like it has changed again to `ampconf`, [this PR](https://github.com/xwp/ampconf/pull/15) covers the necessary changes.

[2018-01-11 18:02] #5 closed

[2018-01-12 03:39] kopepasah opened #18 "Create static header and footer based off designs."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the header and footer for the site.

[2018-01-12 03:41] kopepasah opened #19 "Create the featured post, on the index page."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static featured post on the index page.

[2018-01-12 03:44] kopepasah opened #20 "Create the static secondary featured posts."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static secondary featured posts on the index.php page.

[2018-01-12 03:48] kopepasah opened #21 "Create static content and sidebar area."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static content and sidebar section of the index.php page. This also covers the content and sidebar sections of the archive.php and category.php pages.

[2018-01-12 03:50] kopepasah opened #22 "Create static article section of single post."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static article section of the single post.

[2018-01-12 03:51] kopepasah opened #23 "Create static more stories section of the single post."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static more stories section of the single post.

[2018-01-12 03:51] kopepasah opened #24 "Create static comments section of single post."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static comment section of the single post. Please also refer to the comments.php block of the design.

[2018-01-12 03:53] kopepasah opened #25 "Create static article section of pages."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static article section of pages.

[2018-01-12 03:57] kopepasah opened #26 "Create static header section of archive and category pages."
Going off the [designs](https://www.figma.com/file/eJII1QCoKH0eB6hUHLJ7fUt3), create the static header section of the archive and category pages. This includes the secondary navigation on the category page.

[2018-01-13 06:33] #11 closed

[2018-01-15 15:15] ThierryA commented on #8
Since all the other tests scripts are in the plugin, I moved this issue over to the [plugin repo here](https://github.com/Automattic/amp-wp/issues/861).

[2018-01-15 15:15] #8 closed

[2018-01-16 04:58] westonruter opened #28 "Add styles for Recent Comments widget"
The Recent Comments widget outputs the following `style` element in the `head` via `\WP_Widget_Recent_Comments::recent_comments_style()`:

[code]

The `show_recent_comments_widget_style` filter allows this to be turned off, which it must be for AMP validity. Since it is off, the theme itself will need to incorporate this CSS rule, except for `!important` since this is also invalid in AMP.

Ref. ht

[2018-01-16 16:09] ThierryA commented on #7
Since this is done on the plugin file, this issue is closed in favor of [this one](https://github.com/Automattic/amp-wp/issues/866).

[2018-01-16 16:09] #7 closed

[2018-01-16 21:23] delawski commented on #19
This is now in code review with @kopepasah in PR #29.

For more details about the ticket, please have a look into the comment in the PR #29.

[2018-01-17 02:50] kopepasah commented on #18
These are covered in #30.

[2018-01-17 02:51] kopepasah opened #31 "Add mobile toggle menu styles."
Currently waiting on the designer to provide these designs.

[2018-01-17 02:52] kopepasah commented on #19
This is now covered in #30, which needs to be merged into develop.

[2018-01-17 20:07] delawski commented on #20
@kopepasah Please review the PR #32. After the CR, this can go to the QA.

[2018-01-19 11:50] ThierryA commented on #18
@kopepasah I assigned you on this tasks as per discussed on Slack. Thanks for taking this, really appreciate it!

[2018-01-19 11:50] ThierryA commented on #19
@kopepasah I assigned you on this tasks as per discussed on Slack. Thanks for taking this, really appreciate it!

[2018-01-19 14:30] delawski commented on #21
This is now ready for code review: https://github.com/xwp/ampconf/pull/32

[2018-01-19 18:50] kopepasah opened #33 "Integrate static header and footer into WordPress theme."
Covers integrating static header and footer from `assets/html` into standard WordPress templates. Refer to #18 for any information regarding static templates and markup.

[2018-01-19 18:51] kopepasah commented on #18
This was merged in #30 and closing in lieu of #33 for backend work.

[2018-01-19 18:51] #18 closed

[2018-01-19 18:53] kopepasah opened #34 "Integrate static blog/index page markup into WordPress theme."
Covers integrating the static html from `assets/html` into standard WordPress templates. See #19 for information regarding the static markup.

[2018-01-19 18:53] kopepasah commented on #19
This was covered in #30 and closing in lieu of #34 for backend.

[2018-01-19 18:53] #19 closed

[2018-01-19 18:59] kopepasah opened #35 "Change text domain from ampconf to something else."
Using the text domain `ampconf` does not really work for long term usage. I suggest we change the theme text domain to something more suitable for real world usage by people who will download the theme.

[2018-01-19 19:14] westonruter commented on #35
@kopepasah agreed. The `ampconf` slug is just the working name of the theme until after AMP Conf, when we can start to then generalize the theme for re-use and forking.

[2018-01-22 05:18] kopepasah commented on #21
Reviewed and ready to merge in #32.

[2018-01-22 18:57] delawski commented on #23
@kopepasah This is ready for review: https://github.com/xwp/ampconf/pull/37

[2018-01-23 18:15] kopepasah commented on #33
Covered in #36

[2018-01-23 18:15] #33 closed

[2018-01-23 18:18] kopepasah opened #38 "Rework header menu on mobile."
Mobile menu was not yet complete when working on static markup, but now that the header has been added as a WordPress template, it is time to rework the mobile version based on mobile designs.

<img width="377" alt="screen shot 2018-01-23 at 12 17 28 pm" src="https://user-images.githubusercontent.com/911283/35292874-7ce84c82-0037-11e8-9a4b-ecd3d94ed3a8.png">

[2018-01-23 18:24] kopepasah opened #39 "Create dymanic content and sidebar area."
Now that #21 has been merged, we need to work the static templates into dynamic WordPress templates.

[2018-01-23 18:24] kopepasah commented on #21
Closing in favor or #39.

[2018-01-23 18:24] #21 closed

[2018-01-23 18:25] kopepasah opened #40 "Create the dynamic secondary featured posts."
Now that #20 is merged, we should create dynamic WordPress theme templates.

[2018-01-23 18:25] kopepasah commented on #20
Closing in favor of #40.

[2018-01-23 18:25] #20 closed

[2018-01-23 18:27] kopepasah opened #41 "Create dynamic more stories section of the single post."
Now that #23 is merged, we should create dynamic WordPress theme templates.

[2018-01-23 18:27] kopepasah commented on #23
Closing in favor or #41.

[2018-01-23 18:33] kopepasah commented on #31
Duplicates #38.

[2018-01-23 18:33] #31 closed

[2018-01-23 21:11] kopepasah commented on #38
Currently blocked by [amp-wp #836](https://github.com/Automattic/amp-wp/issues/836).

[2018-01-25 19:38] delawski commented on #22
@kopepasah This is ready for review: https://github.com/xwp/ampconf/pull/45

This covers both `single.php` and `page.php`.

Please note that the social share buttons are not as in the design since (at least for now) I've opted for the built-in social icons provided by `amp-social-share`. We may want to replace them with different ones later on.

[2018-01-25 19:41] delawski commented on #22
Here are the two screenshots for desktop and mobile:

![single-1](https://user-images.githubusercontent.com/478735/35408612-1dc88b1a-0210-11e8-9633-9043f0a7a901.png)

![single-2](https://user-images.githubusercontent.com/478735/35408617-20fdc20a-0210-11e8-95d0-aa38a98d09a8.png)

[2018-01-26 15:30] delawski commented on #24
@kopepasah This is ready for CR: https://github.com/xwp/ampconf/pull/47

[2018-01-26 16:00] delawski commented on #24
Here's the screenshot of the comments area and forms when logged in and when not:

![amp-comments](https://user-images.githubusercontent.com/478735/35448342-4e386e28-02ba-11e8-850a-cf779902a25c.png)

[2018-01-27 01:31] westonruter commented on #24
@kopepasah @delawski N.B. 👉 Comments are going to be implemented using `amp-live-list`, which will have some markup constraints: https://github.com/Automattic/amp-wp/pull/909

[2018-01-27 08:40] delawski commented on #24
@westonruter I’ve touched base with @DavidCramer before starting development and he suggested using a default WordPress markup for comments. If it needs to be adjusted, I’m happy to support.

[2018-01-27 23:07] kopepasah opened #48 "Rework featured images to correspond with the correct image sizes."
Within the designs we are provide with very specific image sizes and currently there is no way to represent those image sizes as the `amp-wp` plugin filters the images in `AMP_Img_Sanitizer` class. While using the WordPress Core API `the_post_thumbnail()` does work, it does not output the correct image size, nor does it allow for specific image sizes to be added to the `srcset` of `amp-img` (or `i

[2018-01-27 23:08] kopepasah commented on #48
@westonruter @ThierryA are there currently any plans within the `amp-wp` plugin which will allow for correct setting of images sizes on featured images?

[2018-01-29 05:32] kopepasah commented on #40
Covered in #43.

[2018-01-29 06:04] westonruter commented on #41
@kopepasah I think it can just be the Recent Posts widget for now.

[2018-01-29 06:17] westonruter commented on #48
@kopepasah Could you indicate where the output is currently incorrect? Below are two example outputs. What is not appearing properly? We can absolutely modify the output of `get_the_post_thumbnail()` as needed for AMP, but I'm not clear on what needs to change:

[code]
👇
[code]

and

[code]
👇
[code]

[2018-01-29 06:39] westonruter commented on #38
Blocked no longer.

[2018-01-29 10:36] delawski commented on #26
@kopepasah I will take care of this today.

[2018-01-29 14:56] delawski commented on #26
@kopepasah This is now ready for code review: https://github.com/xwp/ampconf/pull/51

 I suggest merging first #45 and then #47 before merging this PR since I've branched off of those branches to have the latest SCSS codebase.

[2018-01-29 20:07] kopepasah commented on #26
Closed in #51 .

[2018-01-29 20:07] #26 closed

[2018-01-30 00:48] kopepasah commented on #22
This was merged in #45 and dynamic templates are covered in #39.

[2018-01-30 00:48] #22 closed

[2018-01-30 00:49] #23 closed

[2018-01-30 00:50] kopepasah commented on #41
@westonruter we might need to rework the output of the recent posts widget, as it does not follow the designs.

[2018-01-30 00:51] kopepasah commented on #25
This was covered in #45.

[2018-01-30 00:53] westonruter commented on #41
@kopepasah since widgets don't really facilitate overriding their templates, maybe better to just create a template part that creates the sub-`WP_Query` as required?

[2018-01-30 01:00] westonruter commented on #41
It will also be important to skip the current post when creating the list of “More Stories” below. It seems there are supposed to be 3 shown. So you could query the most recent 4 posts, maybe from the current categories assigned to the post, and then show only 3, skipping either the current post or the 4th post.

Humm, there is a newsletter signup before the 3rd? That seems a little strange:

![im

[2018-01-30 01:27] kopepasah commented on #34
This was merged in #43

[2018-01-30 01:27] #34 closed

[2018-01-30 01:28] #40 closed

[2018-01-30 14:21] ThierryA commented on #41
@kopepasah @westonruter I think it is perfectly acceptable to have the newsletter below or above the list of posts (not in the middle which creates complication).
Regarding the more stories, how about querying 3 posts `'posts_per_page' => 3` and exclude the current post id `'post__not_in' => array( get_the_id() )`?

[2018-01-30 18:18] westonruter commented on #41
@ThierryA using `post__not_in` is not good for performance per: https://vip.wordpress.com/documentation/performance-improvements-by-removing-usage-of-post__not_in/

[2018-01-30 18:25] kopepasah commented on #41
- I think querying the most recent three is fine, but wanted to check if we wanted to make the "more stories" section relevant to the current post by using taxonomies.
- Adding the newsletter as the third item is not difficult, but adding before or after seems more presentationally sound.

[2018-01-30 18:43] kopepasah commented on #48
@westonruter while it is setting the `srcset` attribute, the values are not the same as within the theme, and I cannot see any way to change them without filtering the entire output of the post thumbnail. In addition, there are a couple other attributes which need to be added/altered (e.g. `media` and `layout`, `sizes`). You can see [the expected values in the HTML templates](https://github.com/xw

[2018-01-30 19:02] westonruter commented on #48
@kienstra the call to `the_post_thumbnail( 'ampconf-1040x400' )` would output the following HTML normally:

[code]

In AMP this gets sanitized as:

[code]

This is wrong, yes? Apparently the sanitizer is not doing the right thing, not honoring the width and height specified on the `img` itself, and not keeping the `srcset`?

[2018-01-30 19:32] westonruter commented on #48
Here's the short-term workaround: https://github.com/xwp/ampconf/pull/50/commits/d26f628d0a25207ec8809ac1d0315814480b7cb7

[2018-01-30 19:33] westonruter commented on #48
@kienstra you could open an issue in the plugin to fix this issue?

[2018-01-30 19:33] #48 closed

[2018-01-30 19:35] kienstra commented on #48
**Will Open An Issue**

Sure, @westonruter. I'll open an issue to address this. Thanks for your [workaround commit](https://github.com/xwp/ampconf/commit/d26f628d0a25207ec8809ac1d0315814480b7cb7) for reference.

[2018-01-30 20:02] delawski commented on #48
We may be able to simplify the `sizes` property of `amp-img` tags by applying `max-width` to the `amp-img` in the CSS. This way no matter what `size` is currently being used by AMP, the image will downsize to fit into the containing element.

Still, having control over `layout`, `media` and `sizes` properties would be beneficial.

[2018-01-30 21:26] westonruter commented on #48
@delawski you can control the `layout` and `media` by passing them in as args to the function, like:

[code]

The `sizes` one, however, is generated by WP via `wp_calculate_image_sizes()` and `srcset` via `wp_calculate_image_srcset()`. WP will override anything you pass into the function.

[2018-01-31 06:06] kopepasah commented on #41
Ready for review in #53.

[2018-01-31 06:08] kopepasah commented on #39
Merged in #50.

[2018-01-31 06:18] kopepasah commented on #28
Ready for review in #54.

[2018-01-31 19:41] kienstra commented on #48
**Request To Respond To Plugin Issue**

Hi @kopepasah,
Could you please see this [question](https://github.com/Automattic/amp-wp/issues/919#issuecomment-362041120) on a plugin issue related to this issue? Thanks 😄

[2018-01-31 21:51] #41 closed

[2018-02-01 11:39] ThierryA commented on #10
Theoretically the theme styling shouldn't be affected by the AMP plugin being disabled/enabled or not. CSS wise, it would mean that tags like `amp-img` shouldn't be used as selectors but it should rather use classes.

In some case like for the comments, the HTML elements might differ two much to use the same CSS. One way to approach it is to extract styling for non AMP comments and form and only l

[2018-02-01 21:41] delawski commented on #38
@kopepasah Please review this PR since it changed quite a lot from where you left it: https://github.com/xwp/ampconf/pull/44

[2018-02-02 09:12] postphotos opened #57 "Validate Single.php template meets mockups and ACs listed here"
Related to issues #22, #23, #41 #29.

AC1: Single.php template should generally meet Figma mockups.

AC2: Menu and branding should rendered by header.php.

AC3: Featured image should render at ~3:1 on desktop and ~4:3 on mobile.

AC4: Below this, the page title should display, above the_content.

AC5: Below this, To the left, a meta group containing Publish Time (or date if older than 24 hours), A

[2018-02-02 09:29] postphotos opened #58 "Validate header.php and footer.php templates meet mockups and ACs listed here"
### Header:
AC1: The header should have the a navigation bar, set to the primary menu, editable within WordPress admin menus.
AC2: On larger devices the menu bar is fixed position, it shows as you scroll down the page. This doesn’t include the logo and subtitle though. On smaller devices the navigation bar (which includes the logo) is fixed position as well.
AC3: The header should have a search ba

[2018-02-02 09:36] postphotos opened #59 "Validate index.php meets mockups and ACs listed here"
AC1: In this theme Index.php should represent a home page for a given site.

AC2: On mobile, all posts should stack vertically respecting the ordering outlined below in #3. On desktop, a more complex layout should render based on whether items are in the A or B positions.

AC3: Within the admin there should be a way to define story and content areas.
- Main story optionally sits on top (A Position

[2018-02-02 09:38] postphotos commented on #25
For QA purposes, validate the following ACs.
AC1: Title of page displays at top of content
AC2: Featured image would look exactly the same as the image on single.php
AC3: User is able to enter all information within content area using the editor.
AC4: Share buttons displays to the left of content, below title, and are set from within the Customizer.
AC5: Page.php template should generally meet Fig

[2018-02-02 09:40] postphotos commented on #39
For QA purposes, validate the following ACs.
AC1: A sidebar.php area should be created to leverage the default WordPress widget behavior.
AC2: Output should allow for render of the titles of widget areas and content as per the Figma mockup.
AC3: CSS for standard WordPress widgets should match the Figma markup.
AC4: These should play nicely with pages rendered by index.php and archive.php.
AC5: Sid

[2018-02-02 09:42] postphotos opened #60 "Create 404 template and validate that it meet mockups and ACs listed here"
AC1: The 404.php template needs to be created.
AC2: The template will surface when 404 errors are encountered by a user accessing an inaccessible post or page.
AC3: 404 text should default to generic text: “It looks like nothing was found at this location. Return home, use the sidebar to find what you’re looking for, or try a search below.”
AC4: A user should be able to replace the generic text wi

[2018-02-02 09:44] postphotos opened #61 "Validate comments.php meets mockups and ACs listed here"
AC1: The comments.php block should render comments for a given post.
AC2: If there are no comments, or comments are closed for a given post, the comment block should indicate this.
AC3: If another user has commented on this story already, a user should see that user’s Name, Image, Comment Time, and Comment. Threadded comments should be indented and margins should line up as displayed in the Figma

[2018-02-02 09:46] postphotos opened #62 "Validate that output buffer works as expected each template on render and correctly identifies AMP components"
AC1: The rendered PHP output from each page template (index.php, single.php, archive.php, etc.) should be output buffered to control what specific output is sent in the response from the templates.
- Because PHP parsing is piecemealed and complex, theme markup rendering can become more efficient if rendered using output buffering.
- As a result of working shortcodes and page templates, and compone

[2018-02-02 09:50] postphotos opened #63 "Support a muli-level navigation menu"
Closely related to #9 and partly related to #58 and its children tasks.

AC1: On mobile device widths (smartphone and tablet) A hamburger menu icon should replace a full-width menu, hiding the menu’s contents.
AC2: If I tap or click the hamburger navigation on a smaller device, it should slide in main items in the menu. An arrow icon to the right of the menu item name should hide an accordion menu

[2018-02-02 09:55] postphotos opened #64 "Validate archive.php (and children templates like category.php) meets mockups and ACs listed here"
AC1: Should load header.php

AC2: Title is the archive that you’re on

AC3: If this is an author archive and an image is available for the author, display it to the left of the description area.

AC4: Optionally display for WordPress’ category/author/tag description below this title.

AC5: If there are sub-categories and this is a category page, show below the description a list of child categorie

[2018-02-02 09:57] postphotos opened #65 "Create and validate search templates meets mockups and ACs listed here"
Leveraging general design and functionality from #64, search is a form of archive listing.

AC1: A given user should be able to see results based on a keyword search.
AC2: Each search result should contain the query’s name as the h1 and page title (12 results for “elections”).
AC3: The listing should resemble the standard archive.php loop, as reflected in the design.
AC4: The search result page sh

[2018-02-02 10:00] postphotos opened #66 "Create controls for share buttons, and validate that these meet general mockups and ACs"
AC1: Share buttons should be optional and off by default.
AC2: Share buttons should be assigned and set in the Customizer. User can checkmark from a list of 10 social sharing options, and enter the fields for where they want the links to go.
AC3: Sharing buttons should be rearrangeable. The user should be able to set any order of buttons.
AC4: These buttons should include:
- Twitter
- Facebook
- T

[2018-02-03 00:53] westonruter commented on #10
The comments shouldn't really differ between AMP and non-AMP. We can include an `amp-live-list` in the non-AMP version, though it wouldn't be valid HTML5. The main thing is I think the `comments.php` template should check if `is_amp_endpoint()` for whether or not to include the comment update button.

[2018-02-05 22:44] kopepasah commented on #48
@westonruter while `ampconf_the_post_thumbnail()` helper function does allow for some customization, I think there are two main issues that still need to be solved by the plugin:

1. Helper function should be in the plugin, not the theme.
2. `wp_calculate_image_sizes()` simply does not provide the granularity that is needed for controlling exact layouts that AMP allows. Simply put, `wp_calculate_i

[2018-02-06 21:53] alcurrie commented on #41
Dynamic Stories section is confirmed working as expected on the single page, and shows the most recent 3 posts as expected.
However, I have a few notes:
**1. In mobile, the more stories section, the text and images are not being shrunk to fit on the page as shown in the design**
_Test Steps_
1. Navigate to https://amp-xwp-testbed.pantheonsite.io/2018/02/05/amp-test-of-comments/ in mobile (ie. iPho

[2018-02-06 23:20] alcurrie commented on #57
_AC 2_
*Issue 1:  Header styling - text runs off the left and right of the page in the header bar**
*Test Steps*
1. Navigate to the home page - https://amp-xwp-testbed.pantheonsite.io/
2. Compare header display to Figma Design

_Expected_
AC2: Menu and branding should rendered by header.php and styling per Figma design
https://cl.ly/0q3D250T3Y2o

_Actual_
https://cl.ly/1F162W3c1p0d

[2018-02-06 23:42] alcurrie commented on #23
See notes re. mobile design and other styling issues in #41

Additional issues:
_AC 2_
*Issue 1: Nav Bar/ Header styling - text runs off the left and right of the page in the header bar**
*Test Steps*
1. Navigate to the single page - https://amp-xwp-testbed.pantheonsite.io/2018/01/30/bison/
2. Compare header display to Figma Design
_Expected_
AC2: Menu and branding should rendered by header.php an

[2018-02-07 00:13] alcurrie commented on #23
Issue: On updating/changing the feature image, in the article post, the featured image is not updated on the page

*Test Steps*
1. As a admin user  navigate to a single article page template ie. https://amp-xwp-testbed.pantheonsite.io/2018/02/06/test-that-a-new-post-gets-added-to-the-front-of-the-post-listing/
2. Click on 'Edit this'
3. Change the remove the existing featured post and add another

[2018-02-07 14:17] ThierryA opened #75 "Style live list buttons"
When the comments are used the live list button isn't style, this should have styling.
<img width="770" alt="screen shot 2018-02-07 at 3 16 33 pm" src="https://user-images.githubusercontent.com/3581402/35921134-1b95fa9e-0c1a-11e8-832d-5e7cccfb544f.png">

[2018-02-07 14:20] ThierryA opened #76 "Fix comment success message styling"
While the error message have enough spacing above, the success message doesn't. See below
<img width="765" alt="screen shot 2018-02-07 at 3 18 49 pm" src="https://user-images.githubusercontent.com/3581402/35921217-5655a29c-0c1a-11e8-8734-62eb0e997d77.png">

[2018-02-07 14:27] ThierryA opened #77 "Fix "load new articles" when the AMP plugin is disabled"
The "load new articles" is displayed when the AMP plugin is disabled, see below
<img width="1155" alt="screen shot 2018-02-07 at 3 22 10 pm" src="https://user-images.githubusercontent.com/3581402/35921575-49c832c8-0c1b-11e8-8857-cc6ae35f68b8.png">

[2018-02-07 17:51] delawski commented on #77
@ThierryA @westonruter Do you think this button should be hidden with CSS or rather in PHP by testing if AMP plugin is enabled? I'm opting for the latter.

[2018-02-07 17:55] delawski commented on #77
Actually the button is now hidden by default with CSS and AMP is only showing it when needed with `display: block`. In such case when the plugin is disabled, there's nothing that would turn it on.

I just had to replace AMP-specific selector `amp-live-list` with a class `.live-list` and update the markup. This is going to be soon pushed in a PR with front-end fixes.

[2018-02-07 18:49] delawski commented on #77
This should be fixed in the following PR: https://github.com/xwp/ampconf/pull/78

[2018-02-07 18:49] delawski commented on #76
This should be fixed in the following PR: #78

[2018-02-07 18:49] delawski commented on #75
This should be fixed in the following PR: #78

[2018-02-08 04:32] #76 closed

[2018-02-08 04:32] #77 closed

[2018-02-08 08:19] ThierryA commented on #75
Sorted, thanks @delawski!

[2018-02-08 08:19] #75 closed

[2018-02-12 18:16] kopepasah commented on #62
@postphotos I believe this issue should be added to the plugin, as there is nothing to do theme wise to verify this markup, all the parsing happens in the plugin.

[2018-02-12 20:35] #62 closed

[2018-02-14 20:46] kienstra commented on #24
**Steps To Test**

1. Navigate to a [single post](https://test-ampconfdemo.pantheonsite.io/2018/02/06/are-you-there-lebron-its-me-lebron-a-superstars-ultimate-pep-talk/) on the test site
2. Verify that comments appear
3. Verify that you can make a comment as a logged-in and non-logged-in user
4. There are known issues in this [plugin commenting issue](https://github.com/Automattic/amp-wp/issues/79

[2018-02-14 21:06] kienstra commented on #38
**Steps To Test**

1. On a mobile device, go to a page on the [test site](https://test-ampconfdemo.pantheonsite.io)
2. Verify that you can use the navigation menu, and that its links drive to the proper pages

[2018-02-14 21:13] kienstra commented on #28
**Steps To Test**

1. Go to a [test page with a 'Recent Comments' widget](https://test-ampconfdemo.pantheonsite.io/category/sports/)
2. Verify that the comments display
3. Verify that clicking them leads to a post

[2018-02-20 14:39] csossi commented on #28
Could there be some sort of cue for user to resolve error re: URL format here?
![image](https://user-images.githubusercontent.com/16945664/36429915-dde89ea6-1621-11e8-851c-5c04a8d2a113.png)

[2018-02-20 18:30] csossi commented on #38
verified in QA

[2018-02-20 18:32] csossi commented on #38
@kienstra , can you move this to Ready To Merge? I don't seem to have permissions to do so myself

[2018-02-20 18:58] westonruter commented on #28
Yes, there could. I think if you submit this as-is, however, AMP there will be an error displayed at that time, will it not? In this case here, the field is marked as `url` and so the browser is reporting it as invalid. However, WordPress on the backend will correctly prepend it with `http://` so no error will ensue. We could add more error reporting via https://www.ampproject.org/docs/reference/c

[2018-02-21 17:04] csossi commented on #28
understood, @westonruter - noting this as verified in QA - cheers

[2018-02-21 17:29] csossi commented on #24
verified in QA

[2018-02-28 13:15] csossi commented on #76
verified in QA

[2018-02-28 20:18] csossi commented on #25
@kopepasah - not seeing the share buttons here (AC4)

[2018-02-28 20:21] csossi commented on #75
verified in QA

[2018-02-28 20:27] csossi commented on #39
verified in QA

[2018-02-28 20:35] csossi commented on #60
@kopepasah - using SEARCH tool not producing results (AC3)

[2018-03-01 02:44] csossi commented on #23
verified in QA - tested at https://test-ampconfdemo.pantheonsite.io/

[2018-03-01 02:48] csossi commented on #65
verified in QA - https://test-ampconfdemo.pantheonsite.io/

[2018-03-01 02:52] csossi commented on #40
verified in QA - https://test-ampconfdemo.pantheonsite.io/

[2018-03-01 03:29] csossi commented on #34
verified in QA

[2018-03-01 05:06] kienstra commented on #10
**Steps To Test**

1. Deactivate the AMP plugin on the [dev site](https://dev-ampconfdemo.pantheonsite.io/).
2. Ensure the following page don't have obvious styling issues:
* [Home page](https://dev-ampconfdemo.pantheonsite.io/)
* [Category page](https://dev-ampconfdemo.pantheonsite.io/category/entertainment/)
* [Single post page](https://dev-ampconfdemo.pantheonsite.io/2018/02/06/elon-musks-new-t

[2018-03-01 14:33] csossi commented on #63
verified in QA

[2018-03-01 16:18] csossi commented on #10
verified in QA

[2018-03-02 05:40] csossi commented on #26
verified in QA

[2018-03-02 05:54] csossi commented on #41
verified in QA (tested at https://test-ampconfdemo.pantheonsite.io/)

[2018-03-02 06:01] csossi commented on #22
verified in QA (https://test-ampconfdemo.pantheonsite.io/)

[2018-03-02 14:47] csossi commented on #59
I'm not seeing the ability to "Using Customizer, an admin should be able to optionally inject an email list after the first 3 posts." as per AC3 above

[2018-03-06 21:18] csossi commented on #58
verified in QA

[2018-03-08 10:01] #64 closed

[2018-03-08 10:02] #57 closed

[2018-03-08 10:03] #58 closed

[2018-03-08 10:03] #10 closed

[2018-03-08 10:03] #63 closed

[2018-03-08 10:05] #39 closed

[2018-03-08 10:05] #65 closed

[2018-03-08 10:15] ThierryA commented on #13
Done in the plugin

[2018-03-08 10:16] #9 closed

[2018-03-08 10:16] #61 closed

[2018-03-08 10:16] #66 closed

[2018-03-08 10:17] #38 closed

[2018-03-08 10:17] #28 closed

[2018-03-08 10:17] #24 closed

[2018-03-08 10:18] #25 closed

[2018-03-08 10:19] #59 closed

[2018-03-08 10:19] #60 closed

[2018-03-08 10:20] #35 closed

[2018-05-09 20:06] igorstefurak opened #87 "Validation Errors"
I tried to use this theme and got some validation errors for pages i published.

css_overflow_property_removed
node_name
link
sources
[
    {
        "type": "theme",
        "name": "amp",
        "function": "ampconf_enqueue_styles",
        "hook": "wp_enqueue_scripts"
    },
    {
        "type": "core",
        "name": "wp-includes",
        "function": "wp_enqueue_scripts",
        "hook": "

[2018-05-09 23:43] westonruter commented on #87
It turns out that overflow isn't actually invalid. I was proposing to remove them in https://github.com/xwp/ampconf/pull/82 but decided not to. In the next version of the AMP plugin the use of overflow will no longer be a validation error.

[2018-05-09 23:43] #87 closed

[2018-05-15 16:58] liyaodong opened #88 "<style amp-custom></style> is always empty"
Hi there,

I found an issue when I enable the theme and install the wordpress plugin(amp 0.7.0), basically the site is not shown any style, even I ran the yarn build command to generate the `assets/dist/css/main.css`. I'm not sure is any step I missed or I need do something more?

BTW, the `assets/html/*.php` seem like is some static template, but for now, I think my site is not rendering any of t

[2018-05-15 17:16] #88 closed

[2018-05-24 15:47] ThierryA opened #89 "Rename theme and repo to AMP News"

[2018-09-26 19:18] davisshaver opened #93 "Status?"
I'd like to move towards AMP native and wondering on the status of this project.

Two big areas I'd like to contribute patches are additional color customization settings and some additional actions/filters for customization. Thoughts?

[2018-09-27 04:36] westonruter commented on #93
As noted on https://github.com/xwp/ampnews/pull/92 you would probably be better of to just make these changes to your own fork. I don't foresee this theme being maintained further where it is right now as it was really made for the purpose of being a demo for AMP Conf.

[2018-09-27 04:36] #93 closed, assigned to nobody